body {
    width: 100vw;
    margin: 0;
}

:root {
    --header-bk-dark-color: #200C4F;
    --header-bk-light-color: #3361BA;
    --today-bk-color: #c4d4e5;
    --card-bk-color: #5782b0;
    --card-font-color: #FEFEFE;
    
}
.weather-header {
    background: linear-gradient(to left, var(--header-bk-dark-color) 60%, var(--header-bk-light-color));
}

.today-weather {
    border: 1px solid #2D3E50;
    padding: 10px;
    background-color: var(--today-bk-color);
}

.forecast-card {
    padding: 10px;
    background-color: var(--card-bk-color);
    color: var(--card-font-color);
}

#search-input {
    width: 100%;
}

.input-group-append {
    width: 100%;
}

#weather-hr {
    width: 100%;
}

#forecast {
    justify-content: center;
}

.weather-icon {
    width: 50px;
    height: auto;
}